.green-background {
  background-color: #14921f !important;
}

.search-area {
  background: transparent !important;
  border: none !important;
  border-bottom: 1px solid #eee !important;
  padding: 1rem 0.5rem;
  color: #fff !important;
  box-shadow: none !important;
  outline: none;
  min-width: 320px;
  border-radius: 0 !important;
}

.search-area::placeholder {
  color: #fff !important;
}
